Thumbs.db
.DS_Store
/AnalisisWaktuTempuh/nbproject/private/
/AnalisisWaktuTempuh/build/
/ProgramAnalisisWaktuTempuh/nbproject/private/
/AnalisisWaktuTempuh/dist/
/ProgramAnalisisWaktuTempuh/build/
/ProgramAnalisisWaktuTempuh/dist/
/ProgramAnalisisWaktuTempuh2/nbproject/private/
/ProgramAnalisisWaktuTempuh2/build/
/ProgramAnalisisWaktuTempuh2/dist/
/ProgramAnalisisWaktuTempuh3/nbproject/private/
/ProgramAnalisisWaktuTempuh3/build/
/ProgramAnalisisWaktuTempuh3/dist/
/ProgramAnalisisWaktuTempuha/build/
/ProgramAnalisisWaktuTempuha/dist/
/ProgramAnalisisWaktuTempuha/nbproject/private/